# This is Git's per-user configuration file.
[user]
	name = Dave Avanthay
	email = dave@avanthay.ch
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
    tool = jet
[mergetool "jet"]
    cmd = jet merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[diff]
    tool = jet
[difftool "jet"]
    cmd = jet diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")