# This is Git's per-user configuration file.
[include]
	path = ~/.gitconfig.local
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
    tool = jet
[mergetool "jet"]
    cmd = /usr/local/bin/jet merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[diff]
    tool = jet
[difftool "jet"]
    cmd = /usr/local/bin/jet diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[color "diff"]
    meta = reverse
[log]
    date = format-local:"%d.%m.%y %T"
[format]
    pretty = format:"%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
